//Color

$color-primary: "#1abc9c";
$color-secondary: "#3c4b64";
$color-secondary-dark: "#303c54";
$color-secondary-light: "#8a93a2";
$color-bg: "#ebedef";
$color-accent: "#82B1FF";
$color-error: "#e55353";
$color-info: "#3399ff";
$color-success: "#2eb85c";
$color-warning: "#f9b115";

$color-grey-light-1: #f5f5f5;
$color-grey-light-2: #bdbcbc; //Border

$color-grey-dark-1: #333;
$color-grey-dark-2: #95a5a6;
$color-grey-dark-3: #777;
$color-grey-dark-4: #7f8c8d;

$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-primary: "VazirFarsiDigit", sans-serif;
$default-font-size: 1rem;

// Fonts path
$font_path: "~@/assets/fonts/vazir-font";
