.btn {
  font-size: 1.3rem;
  border-radius: 8px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-family: inherit;

  &--primary {
    color: white;
    background-color: $color-primary;
    border: 1px solid $color-white;
  }

  &--secondary {
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid $color-primary;
  }

  &--small {
    width: auto;
    padding: 5px 10px;
  }

  &--medium {
    padding: 12px 18px;
    width: 150px;
  }

  &--big {
    width: 90%;
    padding: 12px 18px;
    min-height: 48px;
  }
}
